html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body{
    font-family: 'PT Serif', serif;
    max-width: 980px;
    line-height: 1.4;
    margin-left: auto;
    margin-right: auto;
}
.template{
    display: grid;
    grid-template-columns: 230px 1fr;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas: "rental_part" "apartment";
    
}
.column_one{
    grid-area: rental_part;
    position: fixed;
    width: 222px;
    height: 95%;
    background-color: #f6f6f6;
    padding-top: 20px;
    padding-left: 10px;
    overflow-y: scroll;
}
.column_one h2:first-child{
    font-size: 35px
}
.check_in,
.check_out,
.Adult ,
.kids{
    font-size: 20px;
    margin-top: 20px;
}
input{
    width: 190px;
    height: 25px;
}
.check_in input,.check_out input{
    font-size: 23px;
}
.button_one button , .info button{
    font-size: 16px;
    margin-top: 30px;
    color: white;
    background-color: rgb(9 155 9 / 80%);
    width: 195px;
    height: 43px;
    border: transparent;
    border-radius: 20px;
    cursor: pointer;
}
.button_one button:hover , .info p button:hover{
    color:white;
    background-color: black;
}
.links_Apartment,.links_subscribe, .links_contact{
    font-size: 20px;
    margin-top:  40px
}
.links_Apartment:hover,.links_subscribe:hover, .links_contact:hover{
    background-color: rgb(172, 170, 170);
}
.links_Apartment a , .links_subscribe a, .links_contact a{
    text-decoration: none;
    color: black;
}
section .column_two{
    margin-left: 20px;

}
section .column_two p ,  pre{
    font-size: 30px;
    color: rgb(9 155 9 / 80%);
}
section .column_two  .images{
    position: relative;
    max-width: 100%;
}
section .column_two  .images p{
    position: absolute;
    color: white;
    background-color:rgb(158, 98, 98) ;
    top: 546px;
    font-size: 35px;
}
@media (max-width:525px) {
    section .column_two  .images p{
        top:138px
    }
}
@media(min-width:526px)and (max-width:1000px){
    section .column_two  .images p{
        display: none;
    }
}
section .column_two .images img:nth-child(3),section .column_two  .images img:nth-child(4),section .column_two .images img:nth-child(5),section .column_two .images img:nth-child(6){
  width: 173px;
  height: 150px;
  margin-top: 10px;
}
@media (max-width:900px) {
    section .column_two .images img:nth-child(3),section .column_two  .images img:nth-child(4),section .column_two .images img:nth-child(5),section .column_two .images img:nth-child(6){
        width: 100%;
        height: 210px;
        margin-top: 10px;
      }
}




section .column_two .images img:first-child{
    width: 100%;
}
section .column_two  .images img:nth-child(4),
section .column_two .images img:nth-child(5)
,section .column_two .images img:nth-child(6){
    opacity: 0.6;
}
section .column_two  .images img:nth-child(4):hover,
section .column_two .images img:nth-child(5):hover
,section .column_two .images img:nth-child(6):hover{
    opacity: 1;
}
hr{
    margin-top: 10px;
    opacity: 0.5;
}
section .column_two .spaces p ,section .column_two .Amenities p , .rules_info{
    color: black;
    font-size: 17px;
    display: inline;
    margin: 55px;
    line-height: 1.6;
}
i{
    margin-left: 7px;
}
.Extra_info .info p{
    font-size: 17px;
    margin-left: 10px;
    }
.info p button{
   margin-left: -55px;
    }

.check{
    position: fixed;
    z-index: 2;
    top: 28%;
    left: 34%;
    width: 500px;
    height: 300px;
    border-radius: 30px;
    font-size: 18px;
    background-color: black;
}
@media (max-width:550px){
    .check{
        top: 25%;
        left: 5%;
        width: 450px;
        height: 300px;
    }
}

@media (min-width:551px) and (max-width:700px){
    .check{
        top: 25%;
        left:3%;
    }
}
@media (min-width:701px) and (max-width:900px){
    .check{
        top: 25%;
        left:17%;
    }
}
@media (min-width:901px) and (max-width:1200px){
    .check{
        top: 25%;
        left:24%;
    }
}
.check img{
    width: 100px;
    height: 100px;
    border-radius: 35%;
    transform: translate( 202%,-46%);
    
}

    ::-webkit-scrollbar{
        width: 8px;
    }
    
    ::-webkit-scrollbar-track{
        -webkit-box-shadow:insert 0 0 6px rgba(0,0,0,0.3);
    }
    
    ::-webkit-scrollbar-thumb{
        -webkit-box-shadow:insert 0 0 6px  rgba(0,0,0,0.3);
    } 